<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category %>
  </div>

  <div class="field">
    <%= form.label :groom_id %>
    <%= form.text_field :groom_id %>
  </div>

  <div class="field">
    <%= form.label :bride_id %>
    <%= form.text_field :bride_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
