<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @family.category %>
</p>

<p>
  <strong>Groom:</strong>
  <%= @family.groom_id %>
</p>

<p>
  <strong>Bride:</strong>
  <%= @family.bride_id %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
