<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @groom.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @groom.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @groom.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @groom.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @groom.country %>
</p>

<p>
  <strong>District:</strong>
  <%= @groom.district %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @groom.sector %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @groom.cell %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @groom.phone %>
</p>

<%= link_to 'Edit', edit_groom_path(@groom) %> |
<%= link_to 'Back', grooms_path %>
